<?php

return [
    'parameters' => [
        'tablePrefix' => 'zasilkovna_',
        'tempFolder' => __DIR__ . '/../temp',
        'apiKey' => 'asksksjsjsjsjsjieiesksprieueuiow',
        'apiBaseUrl' => 'http://www.zasilkovna.cz/api',
		'connection' => [
			'host' => 'host.docker.internal',
			'port' => '3306',
			'database' => 'my_project',
            'charset' => 'utf8',
			'user' => 'user',
			'password' => 'jsaoioijewoijsareiudsoieoispqqqq',
		]

    ]
];
